body {
    background: linear-gradient(to bottom right, #5085ba, #0f4c5c);
  }
  

.App {
    display: flex;
    justify-content: center;
}

.Socials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
  overflow-x: hidden;
}


  @import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

  